.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    transition: transform 0.5s ease;
    display: flex;
    width: 100%;
  }
  
  .slides img {
    width: 100%;
  }
  .slides img:hover{
    cursor: pointer;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.438);
    border: none;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }

  .imageInsideModal{
    display: block; /* This is important */
    margin: 0 auto; /* Center horizontally */
    width: 95%;
    height: 95%;
  }

  .imageCaption{
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg,rgba(0,0,0,.7) 0,rgba(0,0,0,.6) 50%,transparent);
    color: #fff;
    text-align: center;
    padding: 5px;
    transition: opacity .3s;
    width: 100%;
    text-align: left;
  }

  .full-width-container{
    width: 100%;
  }